<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
                <p>Forcast :: </p>{{forcast}}<br>
                <p>Location :: </p>{{location}}
            </div>

            {{>footer}}
        </body>
    
</html>